.site-layout-content {
  min-height: 560px;
  padding: 0 20px;
  max-width: 1280px;
}
.header-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
}
.sider-layout {
  min-width: 100%;
  height: 100vh;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.sidebar-layout-content {
  min-width: 100%;
  height: 100vh;
}
.back-top-button {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 100%;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 24px;
}
